<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 웹폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Festival</title>

    <style>
        body {
            font-family: 'Lexend Tera', 'Noto Sans KR';
            /* background-image: linear-gradient(rgb(255, 189, 189), rgb(55, 248, 255)); */

        }

        .whole {

            text-align: center;
            
            color: rgb(0, 0, 0);
            
        }
    </style>

</head>

<body>
    <div class="whole" style="padding: 50px; font-size: 50px;">
        <div>🏄🏼‍♂️</div>
        <div style="transform: rotate(45deg); padding: 50px;">Welcome</div> <div style="transform: rotate(-45deg); padding: 220px;">to Cyber Festival</div>
    </div>

    <p align="middle">
        <iframe width="1252" height="704"
            src="https://www.youtube.com/embed/_0KMSc7Jz_Y?list=PLoSIOFPSXQoOzRM5tbCes1MmKkzHi8jPq" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>

    <div class="whole" style="padding: 50px; letter-spacing: -0.3px">우리는👫🏻👫🏼👫🏽👫🏾👫🏿코로나 전염병 사태😷로 인해 ☀️우리의 여름🏄🏻‍♂️을, 💃🏽우리의 축제🎊를 잃어버렸습니다. 하지만 언제나 그랬듯 우리는 돌파구를 찾아낼 것이며, 그 전까지 이 시기를 이겨낼 하나의 방법으로 만들어진 ‘’입니다!
    </div>
    </div>
</body>

</html>