<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- 웹폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Lexend+Tera&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            padding: 10px;
            color: rgb(255, 255, 255);
            text-align: center;
            font-family: 'Karla', 'Noto Sans KR';
            font-size: 30px;
            /* background-color: tomato; */
            


        }

        .btn-xl {
            /* padding: 10px 20px; */
            font-size: 50px;
            /* border-radius: 10px; */
        }

        
    </style>

</head>

<body>
    
    <div class="gradient">

        <button type="button" class="btn btn-dark btn-xl" style="color: rgb(255, 166, 166); float: right;">Food</button><button type="button"
            class="btn btn-dark btn-xl" style="color: rgb(255, 166, 166); float: right;">Community</button><button type="button"
            class="btn btn-dark btn-xl" style="color: rgb(255, 166, 166); float: right;">Stage</button>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="https://blogfiles.pstatic.net/MjAyMDA2MjdfNiAg/MDAxNTkzMjUyNTk3Mjgy.g2E8LO5QAYjSHOcH9cmCxwlwFLhtVNbxAdVR6oxTPRYg.lhH6xy5lObZCoqeNG99wb_kdbf5GfeWyOQhUq1zo7_4g.PNG.eevibe/top.png"
        alt="" style="width: 100%;">
</body>

</html>